/* 
/* App.css (or your main CSS file) */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar.css */

.navbar-brand {
  font-family: 'Rozha One', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.72px;
  letter-spacing: 0em;
  text-align: left;
  color: black; /* Set your desired text color */
  text-decoration: none; /* Remove default underline */
}

.farm{
width: '1440px';
     height: '394px';
     top: '80px';
     left: '-14px';
     position: 'absolute';
     color: 'white';
}


.abtitle {
  width: 940px;
  height: 170px;
  top: 183px;
  left: 160px;
  position: absolute;
  text-align: center;
  color: white;
}

.abtitle h2 {
  /* font-size: 64px; */
  font-weight: 800;
  line-height: 75px;
  /* font-style: italic; */
  font-size: 24px; /* Adjust as needed */
  line-height: 1.5; /* Adjust as needed */
  max-width: 900px; /* Adjust as needed */
  margin: 0 auto; /* Center the text horizontally */
  padding: 10px; /* Add padding as needed */
}

/* Text.css */


.abtext {
  width: 833px;
  height: 112px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  gap: 10px;
  position: absolute;
  text-align: center;
}

.abtext p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  color: white;
}

/* App.css */

.services-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 58.59px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 4rem; /* Adjust margin-top as needed */
  color: #282c34; /* Set your desired text color */
}
.services-sub {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 2rem; /* Adjust margin-top as needed */
  color: #282c34; /* Set your desired text color */
}


/* Testimonies.css */
#testimonies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set to 100% of the viewport height */
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures that the container takes the full height of the viewport */
}
.card {
  background-color: #E7AC75;
  width: 656px;
  height: 241px;
  border-radius: 10px;
  border: 1px solid; /* You may want to specify a color for the border */
  margin: 10px auto;
}

.contact{
  background-color: #EFF1F2;
  ;
}


/* styles.css */

/* body {
  font-family: 'Roboto', sans-serif;
} */
/* .navbar-brand {
  color: 'black'; 
  font-weight: 400;
  font-size: 16px; 
  line-height: 22.72px;
} */


/* #about h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 4rem;
} */

/* About.css */
/* About.css */

/* .container-about {
  position: relative;
} */
/* Title.css */


