
/* App.css (or your main CSS file) */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* About.css */
.about-section {
  /* background-image: url('https://via.placeholder.com/1500x800'); */
  background-size: cover;
  background-position: center;
  /* background-color: #4D5B5D; */
  /* background-color: #8E94AC; */
  color: black; /* Text color over the background image */
  padding-top: 15px; /* Adjust the top padding to ensure content is visible */
  padding-bottom: 15px; /* Adjust the bottom padding as needed */
  font-family: 'Kalnia', serif;
font-family: 'Playfair Display', serif;
}

/* Navbar.css */
.nav-section {
  font-family: 'Playfair Display', serif;
}
.logo-img {
  height: 90px; /* Adjust the height as needed */
  /* You can add more styling if necessary */
}

.py-5 {
  font-family: 'Playfair Display', serif;
}

.logo-img
{
  background-color: #4D5B5D
}
.testimonies
{
  padding-top: 15px; /* Adjust the top padding to ensure content is visible */
  /* background-color: #8E94AC; */
  font-family: 'Playfair Display', serif;

}
/* :root {
  --aspect-ratio: 16 / 9;
 } */
 
 .rounded {
  object-fit: cover;
  width: 100%;
  height: calc(100% * var(--aspect-ratio));
 }
 
 .img-fluid {
  max-width: auto;
  height: auto;
 }
 .text {
  color: #4D5B5D;
 }

 .title {
  color: #7F706E;
 }

 .contact
{
  padding-top: 15px;
  /* background-color: #B9BED4; */
}